@import "../../../styles/pallete";

@mixin animation {
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@mixin shadow {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
}

@mixin border($border--radius) {
  -webkit-border-radius: $border--radius;
  -moz-border-radius: $border--radius;
  border-radius: $border--radius;
}

.entire {
  width: 85%;
  margin-left: 20px;
}

.cluster {
  align-items: center;
  width: 85%;
  padding-top: 10px;
}

.summary {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nameBox {
  display: flex;
  justify-content: center;
  position: relative;
}

.name {
  @include border(50px);

  display: flex;
  width: 30px;
  height: 30px;
  font-weight: bold;
  
  color: $white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15pt;
  margin-left: -5px;
  margin-right: -5px;

  &:hover {
    @include animation();
    background-color: $gray-200 !important;
    color: $black !important;

    &:first-child {
      margin-right: 10px;
    }
  }

  &:nth-child(2n){
    &:hover {
      @include animation();
      margin-right: 10px;
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  &:nth-child(3n):hover {
    @include animation();
    margin-right: 10px;
  }
}

[data-tooltip-text] {
  &:hover {
    position: relative;
  }

  &::after {
    @include animation();
    @include shadow();
    @include border(5px);

    content: attr(data-tooltip-text);

    position: absolute;
    bottom: 30%;
    left: -9999px;

    color: #ffffff;
    font-size: 12px;
    padding: 7px 12px;
    margin-bottom: 10px;
    width: auto;
    min-width: max-content;
    word-wrap: break-word;

    opacity: 0;
    z-index: 9999;
  }

  &:hover::after {
    left: 100%;
    background-color: rgba(34, 34, 34, 0.8);
    opacity: 1;
  }
}

.keywords {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.keyword {
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    @include animation();
    font-weight: 700;
    cursor: pointer;
  }

  &.large {
    font-size: 18pt;
    font-weight: 900;

    &:hover {
      @include animation();
      cursor: pointer;
    }
  }

  &.medium {
    font-size: 16pt;
    font-weight: 700;
    
    &:hover {
      @include animation();
      cursor: pointer;
    }
  }
}