@import "styles/app";

.vertical-cluster-list__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 0.625rem;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cluster-summary {
  &__item {
    display: flex;
    align-items: center;
    column-gap: 0.625rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--expanded {
      @extend .cluster-summary__info;
      border-radius: 1.5625rem;
      background-color: $color-dark-gray;
      overflow: hidden;
    }
  }
}

.summary {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.9375rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $color-white;
  width: 100%;

  &:hover {
    border-radius: 2.5rem;
    background-color: $color-dark-gray;

    .summary__toggle {
      visibility: visible;
    }
  }

  &__author {
    display: flex;
    justify-content: center;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-body;
    gap: 0.625rem;
  }

  &__commit-message {
    flex-grow: 1;
    padding-left: 0.9375rem;
    text-align: left;
    cursor: pointer;
    // "width: 0" makes the "commit-message" ellipsis reponsive
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .summary__commit-title {
      font-weight: 600;
      color: $color-white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .summary__commit-body {
      color: $color-light-gray;
      font-size: 0.75rem;
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 0.125rem;
      margin-left: 0.5rem;
      padding-left: 0.25rem;
      border-left: 1px solid $color-medium-gray;
    }
  }

  &__commit-link {
    text-decoration: none;
    color: $color-light-gray;

    &:visited {
      color: $color-light-gray;
    }

    &:hover {
      color: var(--color-primary);
    }
  }

  &__more-commit {
    text-align: right;
    font-size: $font-size-caption;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--color-primary);
    visibility: hidden;
    cursor: pointer;

    &--visible {
      @extend .summary__toggle;
      visibility: visible;
      transform: rotate(180deg);
    }
  }
}

.detail {
  overflow: auto;
  height: 13.75rem;
  max-height: fit-content;
  padding: 0.625rem 1.075rem;
}
