@import "styles/app";

@mixin animation {
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@mixin shadow {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

@mixin border($border--radius) {
  -webkit-border-radius: $border--radius;
  -moz-border-radius: $border--radius;
  border-radius: $border--radius;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.cluster-summary__container {
  width: 85%;
  margin-left: 20px;
  margin-top: 5px;

  .cluster-summary__cluster {
    padding: 5px 0;
  }

  .cluster-summary__toggle-contents-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $white;

    &:hover {
      border-radius: 40px;
      background-color: lighten($gray-800, 5);
    }
  }

  .cluster-summary__toggle-contents-container {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 100%;
  }

  :hover .collapsible-button {
    visibility: visible;
  }

  .collapsible-button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: $blue-light-600;
    visibility: hidden;
  }

  .collapsible-button-shown {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: $blue-light-600;
  }

  .name-box {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .name {
    @include border(50px);

    display: flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;

    color: $white;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    margin-left: -5px;
    margin-right: -5px;

    &:hover {
      @include animation();
      background-color: $gray-200 !important;
      color: $black !important;
      z-index: 9999;
    }

    &:nth-child(2n) {
      &:hover {
        @include animation();
        z-index: 9999;
      }
    }

    &:nth-child(3n):hover {
      @include animation();
      z-index: 9999;
    }
  }

  [data-tooltip-text] {
    &:hover {
      position: relative;
    }

    &::after {
      @include animation();
      @include shadow();
      @include border(5px);

      content: attr(data-tooltip-text);

      position: absolute;
      bottom: 30%;
      left: -9999px;

      color: $white;
      font-size: 12px;
      padding: 0px 12px;
      margin-bottom: 10px;
      width: auto;
      min-width: max-content;
      word-wrap: break-word;

      opacity: 0;
      z-index: 9999;
    }

    &:hover::after {
      left: 100%;
      background-color: rgba(0, 119, 170, 0.8);
      opacity: 1;
    }
  }

  .cluster-summary__contents {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .commit-message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 15px;
      cursor: pointer;
    }
    .more-commit-count {
      font-size: 12px;
    }
  }

  // .keyword {
  //   margin-left: 5px;
  //   margin-right: 5px;

  //   &:hover {
  //     @include animation();
  //     font-weight: 700;
  //     cursor: pointer;
  //   }

  //   &.large {
  //     font-size: 18pt;
  //     font-weight: 900;
  //     line-height: 28px;

  //     &:hover {
  //       @include animation();
  //       cursor: pointer;
  //     }
  //   }

  //   &.medium {
  //     font-size: 16pt;
  //     font-weight: 700;
  //     line-height: 28px;

  //     &:hover {
  //       @include animation();
  //       cursor: pointer;
  //     }
  //   }
  // }
}

.cluster-summary__detail__container {
  overflow: overlay;
  max-height: 280px;

  @include keyframes(open_detail) {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 280px;
    }
  }
  @include animate(open_detail, 0.3s, linear, 1);
}

.summary-detail__wrapper {
  max-height: 280px;
  padding: 0 30px;
  padding-top: 5px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
