@import "styles/pallete";

@mixin animation {
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@mixin shadow {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}

@mixin border($border--radius) {
  -webkit-border-radius: $border--radius;
  -moz-border-radius: $border--radius;
  border-radius: $border--radius;
}

@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.summary__entire {
  width: 85%;
  margin-left: 20px;

  .cluster {
    align-items: center;
    width: 85%;
    padding: 5px 0;
  }

  .summary {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .nameBox {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .name {
    @include border(50px);

    display: flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;

    color: $white;
    justify-content: center;
    text-align: center;
    font-size: 15pt;
    margin-left: -5px;
    margin-right: -5px;

    &:hover {
      @include animation();
      background-color: $gray-200 !important;
      color: $black !important;
      z-index: 9999;
    }

    &:nth-child(2n) {
      &:hover {
        @include animation();
        z-index: 9999;
      }
    }

    &:nth-child(3n):hover {
      @include animation();
      z-index: 9999;
    }
  }

  [data-tooltip-text] {
    &:hover {
      position: relative;
    }

    &::after {
      @include animation();
      @include shadow();
      @include border(5px);

      content: attr(data-tooltip-text);

      position: absolute;
      bottom: 30%;
      left: -9999px;

      color: #ffffff;
      font-size: 12px;
      padding: 0px 12px;
      margin-bottom: 10px;
      width: auto;
      min-width: max-content;
      word-wrap: break-word;

      opacity: 0;
      z-index: 9999;
    }

    &:hover::after {
      left: 100%;
      background-color: rgba(0, 119, 170, 0.8);
      opacity: 1;
    }
  }

  .contents {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
  }

  .more {
    cursor: pointer;
  }

  .keyword {
    margin-left: 5px;
    margin-right: 5px;

    &:hover {
      @include animation();
      font-weight: 700;
      cursor: pointer;
    }

    &.large {
      font-size: 18pt;
      font-weight: 900;
      line-height: 28px;

      &:hover {
        @include animation();
        cursor: pointer;
      }
    }

    &.medium {
      font-size: 16pt;
      font-weight: 700;
      line-height: 28px;

      &:hover {
        @include animation();
        cursor: pointer;
      }
    }
  }
}

.summary_detail_container {
  height: 280px;
  margin-top: 20px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }

  @include keyframes(open_detail) {
    0% {
      height: 0;
    }
    100% {
      height: 280px;
    }
  }
  @include animate(open_detail, 0.3s, linear, 1);
}
