@import "styles/app";

.selected-clusters {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;

  &__label {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: var(--color-white);
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    position: absolute;
    top: 2rem;
    right: -0.625rem;
    max-height: 15rem;
    overflow-y: auto;
    padding: $spacing-xs;
    background-color: var(--color-grey-100);
    border: 1px solid var(--color-grey-300);
    border-radius: $radius-xs;
    box-shadow: 0rem 0rem 0.625rem $color-background;
    z-index: 10;

    &::-webkit-scrollbar {
      width: 0;
    }

    .selected-clusters__item {
      width: 12.5rem;
      text-overflow: ellipsis;
    }
  }
}
