@import "styles/app";

.selected-clusters {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__label {
    display: flex;
    align-items: center;
    border: 0;
    background-color: transparent;
    color: $color-white;
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    cursor: pointer;
  }
  
  &__list {
    position: absolute;
    top: 2rem;
    left: 0;
    max-height: 240px;
    overflow-y: auto;
    padding: 5px;
    background-color: $color-dark-gray;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px $color-background;
    z-index: 10;

    &::-webkit-scrollbar {
      width: 0;
    }

    .selected-clusters__item {
      width: 200px;
      text-overflow: ellipsis;
      justify-content: space-between;
      margin: 5px;
      color: $color-white;
      background-color: #4f5662;
    }
  }
}
