@import "styles/app";

.selected-clusters {
  display: flex;
  align-items: center;
  column-gap: 10px;

  & &__label {
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
  }
  
  &__dropdown {
    .MuiMenu-paper {
      max-height: 250px;
      overflow-y: auto;
    }

    .MuiMenu-list {
      display: flex;
      flex-direction: column;
      padding: 5px;
    }

    .selected-clusters__item {
      width: 200px;
      text-overflow: ellipsis;
      justify-content: space-between;
      margin: 5px;
      background-color: $color-light-gray;
    }
  }
}
