.refresh-button {
  width: 30px;
  height: 30px;
}

.refresh-button__icon {
  &--loading {
    animation: rotate 2s infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
