@import "styles/app.scss";

.root {
  background: $gray-900;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.authorBarChart {
  overflow: visible;
  margin: 40px;
}

.selectBox {
  background: transparent;
  border: none;
  margin: 50px;
  width: 100px;
  height: 30px;
  color: $white;
  outline: $white auto 1px;
  text-align: center;
}

.axis {
  color: $white;
  font-weight: bold;
  font-size: 11px;
}

.yAxis {
  text {
    display: none;
  }
}

.xAxis {
  .xAxisLabel {
    fill: $white;
    font-size: 15px;
  }
}

.bar {
  fill: #0077aa;

  &:hover {
    fill: none;
    stroke: #0077aa;

    rect {
      stroke-width: 2;
    }
  }

  .name {
    fill: $white;
    stroke: none;
    font-size: 14px;
  }
}

.hoverValue {
  height: 30px;

  .focusText {
    color: $white;
    font-size: 25px;
    text-align: center;
  }
}
