@import "styles/app.scss";

.author-bar-chart-wrap {
  width: 500px;
  background: $gray-900;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.author-bar-chart__select-box {
  background: transparent;
  border: none;
  margin: 50px;
  width: 100px;
  height: 30px;
  color: $white;
  outline: $white auto 1px;
  text-align: center;
}

.author-bar-chart {
  overflow: visible;
  margin: 40px;

  .axis {
    color: $white;
    font-weight: bold;
    font-size: 11px;

    &.y-axis {
      text {
        display: none;
      }
    }

    &.x-axis {
      .x-axis-label {
        fill: $white;
        font-size: 15px;
      }
    }
  }

  .bars {
    .bar {
      fill: #0077aa;

      &:hover {
        fill: $gray-900;
        stroke: #0077aa;
        stroke-width: 2;
      }
    }

    .name {
      fill: $white;
      stroke: none;
      font-size: 14px;
      text-anchor: start;
      font-weight: normal;
    }
  }
}

.author-bar-chart__tooltip {
  display: none;
  position: absolute;
  background: $white;
  border: 1px solid #0077aa;
  padding: 8px 16px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  color: $gray-900;

  .selected {
    color: #0077aa;
    font-weight: bold;
  }
  .name {
    font-weight: bold;
  }
}
