@import "styles/app";

.author-bar-chart__container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
  }
}

.author-bar-chart__header {
  width: 100%;
  text-align: right;

  & .select-box {
    font-size: $font-size-caption;
    background: transparent;
    border: 1px solid $white;
    border-radius: 5px;
    width: fit-content;
    padding: 0 10px;
    height: 25px;
    color: $white;
    outline: none;
    text-align: center;

    option {
      background: $gray-900;
    }
  }
}

.author-bar-chart {
  overflow: visible;
  margin: 20px 40px 40px;

  .axis {
    color: $white;
    font-weight: $font-weight-semibold;

    &.x-axis {
      .tick {
        display: none;
      }
    }

    &.x-axis {
      .x-axis-label {
        fill: $white;
      }
    }
  }

  .bars {
    cursor: pointer;

    .bar {
      &:hover {
        rect {
          fill: var(--color-tertiary);
        }
      }

      rect {
        fill: var(--color-secondary);
      }

      .name {
        fill: $white;
        stroke: none;
        font-size: $font-size-caption;
        text-anchor: start;
        font-weight: $font-weight-semibold;
      }
    }
  }
}

.author-bar-chart__tooltip {
  display: none;
  position: absolute;
  background: $white;
  padding: 8px 16px;
  text-align: center;
  font-size: $font-size-caption;
  line-height: 1.5;
  border-radius: 5px;
  color: $gray-900;

  .selected {
    color: var(--color-primary);
    font-weight: $font-weight-semibold;
  }
  .name {
    font-weight: $font-weight-semibold;
  }
}
