@import "styles/app";

.author-bar-chart {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
  }

  &__header {
    width: 100%;
    text-align: right;
  }

  &__chart {
    overflow: visible;
    margin: 1.25rem 2.5rem 2.5rem;
  }

  &__axis {
    color: var(--color-white);

    &.x-axis {
      .tick {
        display: none;
      }

      .x-axis__label {
        fill: var(--color-white);
      }
    }
  }

  &__container {
    cursor: pointer;

    .author-bar-chart__bar {
      &:hover {
        rect {
          fill: var(--color-secondary-light);
        }
      }

      rect {
        fill: var(--color-secondary);
      }

      .author-bar-chart__name {
        fill: var(--color-white);
        stroke: none;
        font-size: $font-size-caption;
        text-anchor: start;
        font-weight: $font-weight-semibold;
      }
    }
  }

  &__tooltip {
    display: none;
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    font-size: $font-size-caption;
    text-align: center;
    line-height: 1.5;
    background-color: var(--color-grey-100);
    color: var(--color-white);
    pointer-events: none;

    .author-bar-chart__name {
      font-weight: $font-weight-semibold;
    }

    .author-bar-chart__count {
      font-weight: $font-weight-semibold;
      color: var(--color-primary);
    }
  }
}
