@import "styles/_pallete";

.detail__summary__container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 20px;
  align-items: center;
  font-size: 12px;

  .divider {
    margin-right: 1rem;
    flex-grow: 10;
    height: 0;
    border: 1px solid $white;
  }

  .detail__summary {
    flex-grow: 0.1;
    text-align: right;

    span {
      position: relative;
      margin-right: 10px;

      strong {
        margin-right: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: -5px;
        width: 1px;
        height: 12px;
        background: $white;
      }
      &:last-child {
        margin-right: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  .additions {
    color: green;
  }

  .deletions {
    color: red;
  }
}

.detail__commit-list__container {
  padding: 0 20px;
  font-size: 12px;

  .commit-item {
    display: flex;
    justify-content: space-between;
    margin: 7px 0px;
    color: $gray-600;

    .commit-detail {
      overflow: hidden;
      .message {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: $white;
        margin-right: 4px;
      }
    }
    .commit-id {
      padding-left: 50px;
      position: relative;
      span:hover {
        cursor: pointer;
        .commit-id__tooltip {
          display: inline-block;
        }
      }
    }
  }
}

.toggle-button {
  display: flex;
  margin: 20px auto 0;
  border: none;
  background: none;
  color: var(--graph-color);
  cursor: pointer;

  &:hover {
    color: $gray-300;
  }
}

.commit-id__tooltip {
  display: none;
  position: absolute;
  background: $white;
  padding: 8px 16px;
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 5px;
  color: $gray-900;
  transform: translateY(20%) translateX(-120%);
}
