.detail-summary_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  
  .divider {
    margin-right: 1rem;
    flex-grow: 10;
    height: 0;
    border: 1px solid rgb(133, 133, 133);
  }

  .text {
    flex-grow: 0.1;
  }

  .insertions {
    color: green;
  }

  .deletions {
    color: red;
  }
}

.detail-commit_item_container {
  li {
    list-style-type: none;
    display: flex;
    margin-top: 4px;
    
    span {
      color: grey;
    }
    
    justify-content: space-between;
  }
}

.detail-summary_toggleButton {
  border: none;
  background: none;
  color: #0077aa;
  cursor: pointer;
  margin: 10px 0px;
}