@import "styles/app";

.branch-selector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-weight: $font-weight-semibold;

  .select-box {
    background-color: white;
  }
}
