.branch-seletor {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.825rem;
  max-width: 300px;
  width: 100%;
  user-select: none;
  margin-right: 20px;

  .select-box {
    text-align: center;
    margin: 0 12px 0 8px;
    width: 100%;
    padding: 4px;
    border: solid 1px rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: white;
    background: rgba(255, 255, 255, 0.09);
    font-weight: 300;
    font-size: 0.825rem;

    option {
      background: #212121;
    }
  }
}
