@import "styles/app";

.branch-selector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-weight: $font-weight-semibold;

  .select-box {
    background-color: #212121;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    height: 30px;

    & .MuiSvgIcon-root {
      color: var(--color-white);
    }

    &.Mui-focused .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }
}
