.vertical-cluster-list {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  width: 100%;

  svg.cluster-graph {
    min-width: 84px;
  }
}
