.vertical-cluster-list {
  display: flex;
  flex-direction: column;
}

.vertical-cluster-list__content {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
}
