@import "styles/app";

.vertical-cluster-list {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.25rem;
    padding: 0 0.625rem 1.25rem;
    width: 100%;
  }
}
