.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  padding: 0 20px 20px;
  overflow-y: scroll;
}

@media (max-width: 850px) {
  .statistics {
    display: none;
  }
}
