@import "styles/app";

.theme-selector {
  position: relative;

  svg {
    cursor: pointer;
  }

  &__container {
    position: absolute;
    top: 2.5rem;
    left: 0;
    padding: 1.25rem;
    background-color: var(--color-grey-100);
    border-radius: 0.3rem 1.5rem 1.5rem 1.5rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 0.125rem;
  }

  &__header {
    @extend .theme-selector__list;
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
  }
}

.theme-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 0.625rem;
  box-sizing: border-box;

  &:hover,
  &--selected {
    @extend .theme-icon;
    background-color: #4f5662;
    border-radius: 0.625rem;
    cursor: pointer;
  }

  &__container {
    position: relative;
    margin: auto;

    display: flex;
    justify-items: center;
    align-items: center;
  }

  &__color {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 100%;
    margin-left: -0.75rem;
    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &__title {
    font-size: $font-size-body;
    font-weight: $font-weight-regular;
    white-space: nowrap;
  }
}
