@import "pallette";

$color--dark: $white;
$color--light: $black;

$danger-color--dark: #ff4444;
$danger-color--light: #cc0000;

$warning-color--dark: #ffbb33;
$warning-color--light: #ff8800;

$success-color--dark: #00c851;
$success-color--light: #007e33;

$info-color--dark: #33b5e5;
$info-color--light: #0099cc;

$brand--primary--dark: $blue-light-A200;
$brand--primary--light: $blue-light-A700;

$highlight-color--dark: transparentize($brand--primary--light, 0.1);
$highlight-color--light: transparentize($brand--primary--light, 0.1);

//GRADIENTS
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $from),
    color-stop(100%, $to)
  );
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}
