$color-white: #f7f7f7;
$color-black: #010818;
$color-light-gray: #b4bac6;
$color-medium-gray: #757880;
$color-dark-gray: #3c4048;
$color-background: #222324;

html[custom-type="githru"] {
  --color-primary: #e06091;
  --color-secondary: #8840bb;
  --color-tertiary: #ffd08a;
  --color-success: #07bebe;
  --color-failed: #ee2479;
}

html[custom-type="hacker-blue"] {
  --color-primary: #456cf7;
  --color-secondary: #3f4c73;
  --color-tertiary: #6c60f0;
  --color-success: #1fc7a9;
  --color-failed: #ee2479;
}

html[custom-type="aqua"] {
  --color-primary: #51decd;
  --color-secondary: #0687a3;
  --color-tertiary: #a7ffff;
  --color-success: #008cde;
  --color-failed: #ee2479;
}

html[custom-type="cotton-candy"] {
  --color-primary: #ffcccb;
  --color-secondary: #feffd1;
  --color-tertiary: #a39aeb;
  --color-success: #7ad5c4;
  --color-failed: #ff8bbc;
}

html[custom-type="mono"] {
  --color-primary: #68788f;
  --color-secondary: #3a4776;
  --color-tertiary: #9aaed1;
  --color-success: #6cafaf;
  --color-failed: #aa4b72;
}
