$color-white: #f7f7f7;
$color-background: #10131a;

html {
  --color-primary: var(--mui-palette-primary-main);
  --color-primary-light: var(--mui-palette-primary-light);
  --color-primary-dark: var(--mui-palette-primary-dark);
  --color-secondary: var(--mui-palette-secondary-main);
  --color-secondary-light: var(--mui-palette-secondary-light);
  --color-secondary-dark: var(--mui-palette-secondary-dark);
  --color-success: var(--mui-palette-success-main);
  --color-failed: var(--mui-palette-failed-main);
  --color-grey-50: var(--mui-palette-grey-50);
  --color-grey-100: var(--mui-palette-grey-100);
  --color-grey-200: var(--mui-palette-grey-200);
  --color-grey-300: var(--mui-palette-grey-300);
  --color-grey-400: var(--mui-palette-grey-400);
  --color-grey-500: var(--mui-palette-grey-500);
  --color-grey-600: var(--mui-palette-grey-600);
  --color-grey-700: var(--mui-palette-grey-700);
  --color-background: var(--mui-palette-background-default);
  --color-white: var(--mui-palette-common-white);
  --color-black: var(--mui-palette-common-black);
}
