:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-lightgray: #bdbdbd;
  --color-darkgray: #3e3e3e;
  --color-text-white: #f8f8f8;
}

html[custom-type="hacker-blue"] {
  --color-primary: #456cf7;
  --color-secondary: #465070;
  --color-tertiary: #6c60f0;
  --color-success: #1fc7a9;
  --color-failed: #ee2479;
}

html[custom-type="aqua"] {
  --color-primary: #25d4bf;
  --color-secondary: #0687a3;
  --color-tertiary: #35ffff;
  --color-success: #0373b2;
  --color-failed: #ee2479;
}

html[custom-type="cotton-candy"] {
  --color-primary: #ffcccb;
  --color-secondary: #feffd1;
  --color-tertiary: #8979ca;
  --color-success: #7ad5c4;
  --color-failed: #ff8bbc;
}

html[custom-type="githru"] {
  --color-primary: #f14f8c;
  --color-secondary: #8421c9;
  --color-tertiary: #ffcb7d;
  --color-success: #07bebe;
  --color-failed: #ee2479;
}

html[custom-type="mono"] {
  --color-primary: #5f6f86;
  --color-secondary: #3a4776;
  --color-tertiary: #9499c3;
  --color-success: #42b8b8;
  --color-failed: #ee2479;
}
