$font-size-title: 1rem;
$font-size-body: 0.875rem;
$font-size-caption: 0.75rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;

$line-height-base: 1.62;
$line-height-title: 1.15;
$line-height-quote: 1.3;
$line-height-button: 1;
