/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

body {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar:horizontal {
    display: block;
  }
  *::-webkit-scrollbar {
    width: 0.5rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-100);
    border: none;
    outline: none;
    border-radius: 0.625rem;

    &:hover {
      background-color: var(--color-grey-200);
    }
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0.625rem;
  }

  *:hover::-webkit-scrollbar,
  *:hover::-webkit-scrollbar:horizontal {
    display: block;
  }

  *::-webkit-scrollbar:horizontal {
    display: none;
    height: 0.375rem;
  }
}
