/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

body {
  font-size: 10px;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar:horizontal {
    display: block;
  }
  *::-webkit-scrollbar {
    width: 8px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(189, 189, 189, 0.2);
    border: none;
    outline: none;
    border-radius: 10px;

    &:hover {
      background-color: rgba(189, 189, 189, 0.5);
    }
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  *:hover::-webkit-scrollbar,
  *:hover::-webkit-scrollbar:horizontal {
    display: block;
  }

  *::-webkit-scrollbar:horizontal {
    display: none;
    height: 6px;
  }
}
