@import "styles/_pallete";

.cloc-line-chart-wrap {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: auto 0;
}

.cloc-line-chart {
  overflow: visible;
  fill: var(--primary-color);
}

.temporal-filter__label {
  font-size: 10px;
  font-weight: 500;
  fill: white;
}
