@import "styles/app";

.cloc-line-chart-wrap {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin: auto 0;
}

.cloc-line-chart {
  overflow: visible;
  fill: var(--color-primary);
}
