.temporal-filter {
  display: flex;
  flex-direction: column;

  .data-control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1px;
    // background: #212121;
    color: white;
    height: 30px;

    .filter {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .theme-selector {
      margin-right: 3px;
    }
  }

  .line-charts {
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 100%;
    align-content: space-around;
    position: relative;
    top: 30px;
  }

  .line-charts-svg {
    height: 100%;
    width: 100%;
  }

  .line-chart-wrap {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: auto 0;
  }

  .line-chart {
    overflow: visible;
    fill: var(--primary-color);
  }
}

.filter {
  font-weight: 600;
  font-size: 0.825rem;

  .date-from,
  .date-to {
    margin: 0 12px 0 8px;
    padding: 2px;
    border: solid 1px rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: white;
    background: rgba(255, 255, 255, 0.09);
    font-weight: 300;
    font-size: 0.825rem;
  }
}

.temporal-filter__label {
  font-size: 10px;
  font-weight: 500;
  fill: white;
}

.refresh-button {
  width: 2.2rem;
  height: 1.2rem;
  position: absolute;
  right: 0;
  border: 0px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding-right: 2.6rem;
  z-index: 10;

  &:active {
    background-color: black;
    color: white;
  }

  &:hover {
    background-color: white;
    color: black;
  }
}