.temporal-filter {
  display: flex;
  flex-direction: column;

  .data-control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 3px;
    background: #212121;
    color: white;
    .filter {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    .theme-selector {
      margin-right: 3px;
    }
  }

  .line-chart {
    display: flex;
    flex-direction: column;
    height:120px;
    width: 100%;
    // margin-top:1.5%;
    // margin-bottom:3.5%;
    // padding-bottom:2.5%;
    // padding-top: 0.25%;
    align-content: space-around;
    // height: 130px;
  }
}
