@import "styles/app";

.temporal-filter {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: relative;

    .temporal-filter__reset-button {
      width: 3rem;
      text-transform: none;
      background-color: var(--color-secondary);
      position: absolute;
      top: 0;

      &:hover {
        background-color: var(--color-secondary-light);
      }

      & .temporal-filter__button-text {
        color: var(--color-black);
        font-weight: $font-weight-semibold;
      }
    }
  }

  &__chart {
    height: 100%;
    width: 100%;
    > g > text {
      fill: var(--color-secondary);
    }
  }
}

.filter {
  font-weight: $font-weight-semibold;
  font-size: $font-size-caption;

  .date-from,
  .date-to {
    margin: 0 0.75rem 0 0.5rem;
    padding: 0.125rem;
    border: solid 0.0625rem rgba(255, 255, 255, 0.22);
    border-radius: 0.1875rem;
    color: var(--color-white);
    background: rgba(255, 255, 255, 0.09);
    font-weight: $font-weight-light;
    font-size: $font-size-caption;
  }
}
