.temporal-filter {
  display: flex;
  flex-direction: column;

  .line-charts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
    height: 140px;
    align-content: space-around;

    .reset-button {
      width: 3rem;
      margin-right: 1rem;
      text-transform: none;
      background-color: var(--primary-color);
    }
  }

  .line-charts-svg {
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  .line-chart-wrap {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: auto 0;
  }

  .line-chart {
    overflow: visible;
    fill: var(--primary-color);
  }
}

.filter {
  font-weight: 600;
  font-size: 0.825rem;

  .date-from,
  .date-to {
    margin: 0 12px 0 8px;
    padding: 2px;
    border: solid 1px rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: white;
    background: rgba(255, 255, 255, 0.09);
    font-weight: 300;
    font-size: 0.825rem;
  }
}

.temporal-filter__label {
  font-size: 10px;
  font-weight: 500;
  fill: white;
}
