@import "styles/app";

.temporal-filter {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: relative;

    .temporal-filter__reset-button {
      width: 3rem;
      text-transform: none;
      background-color: var(--color-tertiary);
      position: absolute;
      top: 0;

      &:hover {
        background-color: var(--color-secondary);
      }

      & .temporal-filter__button-text {
        color: $color-black;
        font-weight: $font-weight-semibold;
      }
    }
  }

  &__chart {
    height: 100%;
    width: 100%;
    > g > text {
      fill: var(--color-tertiary);
    }
  }
}

.filter {
  font-weight: $font-weight-semibold;
  font-size: $font-size-caption;

  .date-from,
  .date-to {
    margin: 0 12px 0 8px;
    padding: 2px;
    border: solid 1px rgba(255, 255, 255, 0.22);
    border-radius: 3px;
    color: $color-white;
    background: rgba(255, 255, 255, 0.09);
    font-weight: $font-weight-light;
    font-size: $font-size-caption;
  }
}
