.temporal-filter {
  display: flex;
  flex-direction: column;

  .data-control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 10px;
    background: #212121;
    color: white;
    margin-top: 10px;
    .filter {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    .theme-selector {
      margin-right: 3px;
    }
  }

  .line-chart {
    display: flex;
    flex-direction: column;
    padding: 50px, 30px, 50px, 30px;
    width: 100%;
    height: 500px;
    margin: 100px, 30px, 100px, 30px;
  }
}
