// FIXME
:root {
  --primary-color: #ff8272;
}

body {
  background: #212121;
  color: #fff;
}

.header-container {
  position: relative;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top-container {
  height: 220px;
}

.middle-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: calc(100vh - 200px);
  padding: 20px;
}

.no-commits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 350px);

  h1 {
    margin: 40px 0 0 0;
  }
}
