// FIXME
body {
  background: #212121;
  color: #fff;
}

// .head-container {
//   margin-bottom: 30px;
// }

.middle-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
}
