// FIXME
:root {
  --primary-color: #ff8272;
}

body {
  background: #212121;
  color: #fff;
}

.header-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.top-container {
  margin-bottom: 20px;
  height: 220px;
}

.middle-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
}
