// FIXME
body {
  background: #212121;
  color: #fff;
}

.top-container {
  margin-bottom: 30px;
  height: 240px;
}

.middle-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
}
