@import "styles/app";

body {
  background: $color-background;
  color: $color-white;
}

.header-container {
  position: relative;
  display: flex;
  height: 3.75rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem 0 1.25rem;
}

.top-container {
  height: 13.75rem;
}

.middle-container {
  display: flex;
  height: calc(100vh - 12.5rem);
  padding: 1.25rem;
}

.no-commits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 21.875rem);

  h1 {
    margin: 2.5rem 0 0 0;
  }
}

.folder-activity-flow-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.folder-activity-flow-modal-content {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 90%;
  height: 80%;
  overflow: auto;
  position: relative;
}

.folder-activity-flow-modal-close {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}
