.selected-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.selected-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
}

.test {
  flex-direction: column;
}
