@import "styles/app";

.file-icicle-summary {
  width: 16rem;

  &__title {
    font-size: $font-size-title;
    font-weight: $font-weight-semibold;
    margin-bottom: 1rem;
  }

  &__label {
    color: $color-black;
    font-weight: $font-weight-semibold;
  }
}
