@import "styles/app";

.file-icicle-summary {
  width: 16rem;
  text {
    filter: invert(100) grayscale(100) contrast(100);
    font-weight: $font-weight-semibold;
  }
}

.file-icicle-title {
  font-size: $font-size-title;
  font-weight: $font-weight-semibold;
  margin-bottom: 1rem;
}
