@import "styles/app";

.cluster-graph {
  display: block;

  &__container {
    cursor: pointer;
    min-width: 84px;

    &:hover {
      .cluster-graph__cluster-box {
        stroke-width: 3;
      }
    }
  }

  &__cluster-box {
    rx: 5;
    stroke-width: 1;
    stroke: var(--color-primary);
    fill: transparent;
  }

  &__commit-amount {
    rx: 5;
    fill: var(--color-primary);
  }

  &__connector-line {
    stroke: var(--color-primary);
    stroke-width: 1;
  }

  &__circle {
    fill: var(--color-primary);
  }
  
  &__tooltip {
    position: absolute;
    z-index: 10;
    background: $color-white;
    padding: 8px 16px;
    font-size: $font-size-caption;
    line-height: 1.5;
    border-radius: 5px;
    color: $color-dark-gray;
  }
}