.cluster-graph__container {
  cursor: pointer;

  &:hover {
    .cluster-graph__cluster {
      stroke-width: 3;
    }
  }

  .cluster-graph__cluster {
    rx: 5;
    stroke-width: 1;
    stroke: var(--primary-color);
    fill: transparent;
  }

  .cluster-graph__degree {
    rx: 5;
    fill: var(--primary-color);
  }
}

.cluster-graph__link {
  stroke: var(--primary-color);
  stroke-width: 1;
}
