@import "styles/_pallete";
@mixin animation {
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
@mixin shadow {
  box-shadow: 0px 0px 3px 1px rgba(100, 100, 100, 0.4);
}
@mixin border($border--radius) {
  border-radius: $border--radius;
}

@mixin animate($animation, $duration, $method, $times) {
  -webkit-animation: $animation $duration $method $times;
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

.author {
  border-radius: 50px;
  background-color: $white;
  width: 30px;
  height: 30px;
  margin: 0 -5px;

  img {
    border-radius: 50px;
  }

  &:hover {
    @include animation();
    z-index: 9999;
  }
}

[data-tooltip-text] {
  &:hover {
    position: relative;
  }

  &::after {
    @include animation();
    @include shadow();
    @include border(2px);

    content: attr(data-tooltip-text);

    position: absolute;
    left: 30px;
    top: -20px;
    color: $black;
    font-size: 10px;
    line-height: 1.5;
    padding: 5px 12px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    word-wrap: break-word;
    opacity: 0;
    font-weight: bold;
    z-index: 9999;
  }

  &:hover::after {
    background-color: $white;
    opacity: 1;
  }
}
