@import "colors";

$themes: (
  dark: (
    color: $color--dark,
    highlight-color: $highlight-color--dark,
    danger-color: $danger-color--dark,
    warning-color: $warning-color--dark,
    success-color: $success-color--dark,
    info-color: $info-color--dark,
  ),
  light: (
    color: $color--light,
    highlight-color: $highlight-color--light,
    danger-color: $danger-color--light,
    warning-color: $warning-color--light,
    success-color: $success-color--light,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
